# [dbo].[CartItems]

In [0]:
USE [loginpro]
GO

In [0]:
/****** Object:  Table [dbo].[CartItems]    Script Date: 2025/1/9 下午 01:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[OrderItems]

In [0]:
/****** Object:  Table [dbo].[OrderItems]    Script Date: 2025/1/9 下午 01:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Orders]

In [0]:
/****** Object:  Table [dbo].[Orders]    Script Date: 2025/1/9 下午 01:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Products]

In [0]:
/****** Object:  Table [dbo].[Products]    Script Date: 2025/1/9 下午 01:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageData] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Users]

In [0]:
/****** Object:  Table [dbo].[Users]    Script Date: 2025/1/9 下午 01:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CartItems]

In [0]:
SET IDENTITY_INSERT [dbo].[CartItems] ON 
INSERT [dbo].[CartItems] ([Id], [UserId], [ProductId], [Quantity], [AddedAt]) VALUES (42, 18, 18, 1, CAST(N'2025-01-08T15:51:36.030' AS DateTime))
INSERT [dbo].[CartItems] ([Id], [UserId], [ProductId], [Quantity], [AddedAt]) VALUES (43, 18, 31, 1, CAST(N'2025-01-08T15:53:07.377' AS DateTime))
INSERT [dbo].[CartItems] ([Id], [UserId], [ProductId], [Quantity], [AddedAt]) VALUES (52, 6, 20, 2, CAST(N'2025-01-09T10:20:46.640' AS DateTime))
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO

# [dbo].[OrderItems]

In [0]:
SET IDENTITY_INSERT [dbo].[OrderItems] ON 
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (1, 1, 18, 1, CAST(15.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (2, 1, 20, 1, CAST(250.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (3, 2, 21, 1, CAST(66666.00 AS Decimal(18, 2)), CAST(66666.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (4, 3, 20, 1, CAST(250.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (5, 4, 20, 1, CAST(250.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (6, 5, 21, 1, CAST(66666.00 AS Decimal(18, 2)), CAST(66666.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (7, 5, 20, 1, CAST(250.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (8, 6, 20, 1, CAST(250.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (9, 6, 22, 7, CAST(999.00 AS Decimal(18, 2)), CAST(6993.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (10, 7, 18, 1, CAST(15.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (11, 7, 22, 1, CAST(999.00 AS Decimal(18, 2)), CAST(999.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (12, 7, 20, 1, CAST(250.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (13, 8, 20, 1, CAST(250.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (14, 9, 18, 4, CAST(15.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (15, 10, 18, 4, CAST(15.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (16, 10, 22, 2, CAST(999.00 AS Decimal(18, 2)), CAST(1998.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (17, 11, 18, 5, CAST(15.00 AS Decimal(18, 2)), CAST(75.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (18, 11, 20, 1, CAST(250.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [Total]) VALUES (19, 11, 22, 1, CAST(999.00 AS Decimal(18, 2)), CAST(999.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO

# [dbo].[Orders]

In [0]:
SET IDENTITY_INSERT [dbo].[Orders] ON 
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (1, 6, CAST(N'2025-01-08T14:57:26.083' AS DateTime), CAST(265.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (2, 6, CAST(N'2025-01-08T14:57:47.237' AS DateTime), CAST(66666.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (3, 6, CAST(N'2025-01-08T15:00:05.457' AS DateTime), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (4, 6, CAST(N'2025-01-08T15:00:30.013' AS DateTime), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (5, 6, CAST(N'2025-01-08T15:14:58.600' AS DateTime), CAST(66916.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (6, 18, CAST(N'2025-01-08T15:16:17.170' AS DateTime), CAST(7243.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (7, 18, CAST(N'2025-01-08T15:19:23.620' AS DateTime), CAST(1264.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (8, 18, CAST(N'2025-01-08T15:23:40.333' AS DateTime), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (9, 18, CAST(N'2025-01-08T15:51:23.953' AS DateTime), CAST(60.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (10, 6, CAST(N'2025-01-08T16:21:15.693' AS DateTime), CAST(2058.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount]) VALUES (11, 6, CAST(N'2025-01-08T16:25:34.393' AS DateTime), CAST(1324.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO

# [dbo].[Products]

In [0]:
SET IDENTITY_INSERT [dbo].[Products] ON 
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (18, N'麵包', N'就是麵包', CAST(15.00 AS Decimal(18, 2)), N'/images/products/34033508-6262-4bc1-a854-93e1b616d96b.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (20, N'烏薩奇', N'敲人', CAST(250.00 AS Decimal(18, 2)), N'/images/products/821d2af3-1c42-4911-a973-62ee7b50d5d5.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (21, N'恐龍', N'恐龍扛郎扛郎康', CAST(66666.00 AS Decimal(18, 2)), N'/images/products/506926fa-32b8-490e-83d8-a283cbb16698.gif')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (22, N'閃電霹靂車人頭', N'衝衝衝 0的領域', CAST(999.00 AS Decimal(18, 2)), N'/images/products/b7c463a6-50d7-48a5-8c30-06a7c05cb2b3.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (23, N'魔關羽', N'抽抽抽抽 一值抽', CAST(300.00 AS Decimal(18, 2)), N'/images/products/62fec5af-38b0-41e3-b0ce-6bb19d314f2d.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (24, N'Gura', N'超油==', CAST(50.00 AS Decimal(18, 2)), N'/images/products/269614e5-e832-4b72-9ed4-6110c83a6ed6.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (25, N'拉普拉絲', N'我以為是寶可夢', CAST(1980.00 AS Decimal(18, 2)), N'/images/products/ed833c6b-e92b-4169-bd1b-d817ca6ffbc8.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (26, N'小八', N'手不能碰到吉他 聲音哪來', CAST(1688.00 AS Decimal(18, 2)), N'/images/products/a353d837-49d6-4d89-b669-ccaabc0fd19c.webp')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (27, N'蟑螂薩奇', N'他愛吃', CAST(7878.00 AS Decimal(18, 2)), N'/images/products/770a6752-0e89-4c69-b216-96dc44f22708.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (28, N'chaewon', N'很強', CAST(999999.00 AS Decimal(18, 2)), N'/images/products/e7ef68fe-22fb-4b60-a546-65084f719d71.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (29, N'中指匹克薩奇', N'中指種子', CAST(681.00 AS Decimal(18, 2)), N'/images/products/53061834-5062-41c7-a089-82e1edf9c11e.gif')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (30, N'玩具槍', N'怎麼這麼貴', CAST(168888.00 AS Decimal(18, 2)), N'/images/products/6e32e1cd-9e7b-44c3-8ed8-c94d1834f923.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (31, N'Winter', N'就是冬天', CAST(777777.00 AS Decimal(18, 2)), N'/images/products/0a0ad41b-bdf2-4ee1-afb7-3e3250144f78.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (33, N'索爾加雷歐', N'寶可夢', CAST(15.00 AS Decimal(18, 2)), N'/images/products/f37c412e-1ab3-4fc8-8a3c-8c302ac11eff.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (34, N'好玩日本', N'一值完', CAST(2550.00 AS Decimal(18, 2)), N'/images/products/1f102558-e7e8-41ee-a1e5-606d0f80f898.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (36, N'唱歌 ', N'爽唱', CAST(777.00 AS Decimal(18, 2)), N'/images/products/d4c0c14a-1384-4f27-b106-c363c39ae2c1.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [ImageData]) VALUES (37, N'ASD', N'wsd', CAST(14.00 AS Decimal(18, 2)), N'/images/products/4f62e04c-0283-4869-835d-6f8da7c4d1a1.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO

# [dbo].[Users]

In [0]:
SET IDENTITY_INSERT [dbo].[Users] ON 
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (6, N'donk666', N'666', N'ddwdw')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (7, N'jojo777', N'777', N'aa@gmail.com')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (18, N'joseph77', N'777', N'qaz@gmail.com')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (19, N'dai456', N'456', N'qwe@gmail.com')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (20, N'punk777', N'777', N'WE@fjijo')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (21, N'jack666', N'666', N'qa11z@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO

# [UQ__users__AB6E6164C315D9A4]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164C315D9A4]    Script Date: 2025/1/9 下午 01:43:39 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ__users__F3DBC572ADD1F7E5]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572ADD1F7E5]    Script Date: 2025/1/9 下午 01:43:39 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DF__CartItems__Quant__59FA5E80]

In [0]:
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO

# [DF__CartItems__Added__5AEE82B9]

In [0]:
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO

# [FK__CartItems__Produ__5CD6CB2B]

In [0]:
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO

# [FK__CartItems__UserI__5BE2A6F2]

In [0]:
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO

# [FK__OrderItem__Order__628FA481]

In [0]:
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO

# [FK__OrderItem__Produ__6383C8BA]

In [0]:
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO

# [FK__Orders__UserId__5FB337D6]

In [0]:
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO